@*@{
    ViewData["Title"] = "View Business";
}

@model HeardHospitality.Models.BusinessInfoViewModel

@Html.Hidden("LoginDetailID")

<div class="text-center">
    <h1 class="display-4">View Business</h1>

    <table>
        <tr>
            <th></th>
            <th>
                Business Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Address Line 1
            </th>
            <th>
                Address Line 2
            </th>
            <th>
                City
            </th>
            <th>
                County
            </th>
            <th>
                EirCode
            </th>
            <th>
                Country
            </th>
        </tr>
       @* @foreach (var business in Model)
        {
            <tr>
                <td>
                    @business.BusinessName
                </td>
                <td>
                    @business.PhoneNum
                </td>
                <td>
                    @business.AddressLine1
                </td>
                <td>
                    @business.AddressLine2
                </td>
                <td>
                    @business.City
                </td>
                <td>
                    @business.County
                </td>
                <td>
                    @business.EirCode
                </td>
                <td>
                    @business.Country
                </td>
            </tr>
        }*@

 
@*                <tr>
                    <td>
                    @Model.BusinessName
                    </td>
                    <td>
                    @Model.PhoneNum
                    </td>
                    <td>
                    @Model.AddressLine1
                    </td>
                    <td>
                    @Model.AddressLine2
                    </td>
                    <td>
                    @Model.City
                    </td>
                    <td>
                    @Model.County
                    </td>
                    <td>
                    @Model.EirCode
                    </td>
                    <td>
                    @Model.Country
                    </td>
                </tr>
          *@