@{
    ViewData["Title"] = "Add A New Job Ad";
}

@model JobPostingViewModel

@Html.Hidden("BusinessID")
@Html.Hidden("JobInfoID")
@Html.Hidden("JobPerkID")
@Html.Hidden("PerkID")
@Html.Hidden("BusinessName")
@Html.Hidden("PhoneNum")
@Html.Hidden("AddressLine1")
@Html.Hidden("AddressLine2")
@Html.Hidden("City")
@Html.Hidden("County")
@Html.Hidden("EirCode")
@Html.Hidden("Country")
@Html.Hidden("PostedDate")
@Html.Hidden("IsActive")
@Html.Hidden("IsReported")


<!DOCTYPE html>
<html lang="en">
<body>
    <div class="text-center">



        <form id="new-job-form" asp-controller="Job" asp-action="SubmitJob" method="post">

            <h1 class="form-title display-4">Add a New Job Ad</h1>

            <label class="form-label" for="Title">Job Title</label>
            <input placeholder="Title" asp-for="Title" />
            <br />

            <label class="form-label" for="PositionType">Position Type</label>
            <select asp-for="PositionType" name="PositionType">
                <option value="" selected disabled>Select a Position Type</option>
                <option value="Full Time">Full Time</option>
                <option value="Part Time">Part Time</option>
                <option value="Seasonal">Seasonal</option>
            </select>
            <br />

            <label class="form-label" for="Salary">Salary</label>
            <input placeholder="Salary" asp-for="Salary" />
            <br />

            <label class="form-label" for="JobDescription">Job Description</label>
            <input placeholder="Job Description" asp-for="JobDescription" />
            <br />

            <label class="form-label" for="MinExperience">Minimum Experience Required</label>
            <input placeholder="Minimum Experience" asp-for="MinExperience" />
            <br />

            <label class="form-label" for="Category">Job Category</label>
            <select asp-for="Category" name="Category">
                <option value="" selected disabled>Select a Category</option>
                <option value="Front of House">Front of House</option>
                <option value="Back of House">Back of House</option>
                <option value="Administration">Administration</option>
                <option value="Other">Other</option>
            </select>
            <br />


            <label class="form-label" for="Company">Company Name</label>
            <input placeholder="Company" asp-for="Company" />
            <br />

            <div class="form-div">Are there any additional Perks for Employees that you would like to highlight? 
                For example: Staff Meals, Set Schedules, 4 Day weeks, etc.</div>

            <div id="new-perk">

            </div>


            @*           <div id="perks-container">

            @for (int i = 0; i < Model.Perks.Count; i++)
            {
            <div>
            <br />
            <input placeholder="Perk" name="Perks[@i].PerkName" type="text" id="Perks.PerkName" asp-for="Perks[@i].PerkName" />
            <br />
            <input placeholder="Description" name="Perks[@i].Details" type="text" id="Perks.Details" asp-for="Perks[@i].Details" />
            <br />
            </div>


            }*@

            @for (int i = 0; i < Model.Perks.Count; i++)
            {
                    <div>
                        <label>Name:</label>
                        <input type="text" class="PerkName" name="Perks[i].PerkName" value="@Model.Perks[i].PerkName" />
                    </div>
                    <div>
                        <label>Details:</label>
                        <input type="text" name="Perks[i].Details" value="@Model.Perks[i].Details" />
                    </div>
                    <br />
            }


            <button class="btn btn-secondary" type="button" onclick="AddPerk();">Add A Perk</button>
            @*    </div>*@

            <br />

            <br />
            <br />
            <input type="hidden" asp-for="BusinessID" value="@Model.BusinessID" />
            <input type="hidden" asp-for="City" value="@Model.City" />
            <input type="hidden" asp-for="County" value="@Model.County" />
            <input type="submit" class="btn btn-secondary form-btn" />
        </form>

    </div>
</body>
</html>

<script>

    function AddPerk() {

        // Get the current number of Perk fields
        var count = $('input[class^="PerkName"]').length;

        // Create the new Perk fields
        var nameField = $('<input type="text" class="PerkName" name="Perks[' + count + '].PerkName"  placeholder="Perk" />');
        var detailsField = $('<input type="text" name="Perks[' + count + '].Details"  placeholder="Description" /> <br />');

        // Append the new fields to the form
        $('#new-perk').append(nameField);
        $('#new-perk').append(detailsField);


        //var container = document.getElementById("perks-container");

        //// Create a new div element to hold the new perks input fields
        //var perksDiv = document.createElement("div");

        //// Create new input elements for the "Perks" fields
        //var perkNameInput = document.createElement("input");
        //perkNameInput.type = "text";
        //perkNameInput.placeholder = "Perk Name";
        ////perkNameInput.name = "Perks[0].PerkName";
        ////perkNameInput.id = "Perks[0].PerkName";
        //perkNameInput.name = "Perks[" + i + "].PerkName";
        //perkNameInput.id = "Perks[" + i + "].PerkName";
        ////perkNameInput.asp-for = "Perks[" + i + "].PerkName";


        //var perkDetailsInput = document.createElement("input");
        //perkDetailsInput.type = "text";
        //perkDetailsInput.placeholder = "Details";
        //perkDetailsInput.name = "Perks[" + i + "].Details";
        //perkDetailsInput.id = "Perks[" + i + "].Details";
        //perkDetailsInput.asp -for = "Perks[" + i + "].Details";
        //    //perkDetailsInput.name = "Perks[0].Details";
        //    //perkDetailsInput.id = "Perks[0].Details";

        //    // Add the new input elements to the div element
        //    perksDiv.appendChild(perkNameInput);
        //    perksDiv.appendChild(perkDetailsInput);

        //// Add the new div element to the container
        //container.appendChild(perksDiv);

        //i = i + 1;

        //return i;

    };

</script>