@{
    ViewData["Title"] = "Jobs";
}

@model List<JobPostingViewModel>

@Html.Hidden("BusinessID")
@Html.Hidden("JobInfoID")
@Html.Hidden("JobPerkID")
@Html.Hidden("PerkID")
@Html.Hidden("PhoneNum")
@Html.Hidden("AddressLine1")
@Html.Hidden("AddressLine2")
@Html.Hidden("EirCode")
@Html.Hidden("Country")
@Html.Hidden("JobDescription")
@Html.Hidden("MinExperience")
@Html.Hidden("IsActive")
@Html.Hidden("Details")
@Html.Hidden("PerkName")
@Html.Hidden("Company")



<!DOCTYPE html>
<html lang="en">
<body>
    <div class="text-center">
        <h1 class="display-4">Current Job Openings</h1>


        <form asp-controller="Job" asp-action="SearchJob" method="get" id="search-form">

            <div class="input-group">
                <div class="form-outline">
                    <input type="text" name="JobDescription" class="form-control" placeholder="Search by: Job Title, Company Name, City or County..." />
                    @*<label class="form-label" for="form1">Search</label>*@
                </div>
                <button type="submit" class="btn btn-secondary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>

            @*
            <label>Search by Title:</label>
            <input type="text" name="Title" />
            <br />
            <label>Search by Position Type:</label>
            <input type="text" name="PositionType" />
            <br />
            <label>Search by Company:</label>
            <input type="text" name="Company" />
            <br />
            <label>Search by Salary:</label>
            <input type="text" name="Salary" />
            <br />
            <label>Search by City:</label>
            <input type="text" name="City" />
            <br />
            <label>Search by County:</label>
            <input type="text" name="County" />
            <br />
            <button type="submit" class="btn btn-secondary form-btn"><i class="fa fa-search" aria-hidden="true"></i> Search</button>*@

        </form>




        <partial name="_JobsPartial" />

    </div>
</body>
@*<body>
    <div class="text-center">
        <h1 class="display-4">Current Job Openings</h1>

        <table>
            <tr>
                <th>
                    Business Name
                </th>
                <th>
                    City
                </th>
                <th>
                    County
                </th>
                <th>
                    Title
                </th>
                <th>
                    Position Type
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Posted Date
                </th>
                <th>
                    Category
                </th>
                <th>
                    Company
                </th>
            </tr>
            @foreach (var job in Model)
            {
                <tr>
                    <div class="job-listing">

                    <td>
                            @job.BusinessName
                    </td>
                    <td>
                            @job.City
                    </td>
                    <td>
                            @job.County
                    </td>
                    <td>
                            @job.Title
                    </td>
                    <td>
                            @job.PositionType
                    </td>
                    <td>
                            @job.Salary
                    </td>
                    <td>
                            @job.PostedDate
                    </td>
                    <td>
                            @job.Category
                    </td>
                    <td>
                            @job.Company
                    </td>

                    <td onclick="location.href= '@Url.Action("JobDetails", "Job", new { jobId=job.JobInfoID })'">
                        More Details
                    </td>

        </div>
        </tr>

            }

    </table>
    </div>
</body>*@
</html>