@{
    ViewData["Title"] = "Reported Successfully";
}

@model JobPostingViewModel

@Html.Hidden("BusinessID")
@Html.Hidden("JobInfoID")
@Html.Hidden("JobPerkID")
@Html.Hidden("PerkID")
@Html.Hidden("BusinessName")
@Html.Hidden("PhoneNum")
@Html.Hidden("AddressLine1")
@Html.Hidden("AddressLine2")
@Html.Hidden("City")
@Html.Hidden("County")
@Html.Hidden("EirCode")
@Html.Hidden("Country")
@Html.Hidden("PostedDate")
@Html.Hidden("IsActive")
@Html.Hidden("IsReported")


<!DOCTYPE html>
<html lang="en">
<body>
    <div class="text-center">
        <p>You cannot report the same job ad twice</p>

    </div>
</body>
</html>