@{
    ViewData["Title"] = "Report Job Posting";
}

@model ReportedJobDetail

@Html.Hidden("ReportedJobDetailID")
@Html.Hidden("JobInfoID")
@Html.Hidden("EmployeeID")


<!DOCTYPE html>
<html lang="en">
<body>
    <div class="text-center">
        <h1 class="display-4">Report Job</h1>

        <form id="report-form" asp-controller="Job" asp-action="SubmitReporting" method="post">

            <div class="report-reason">
            <input type="checkbox" asp-for="AdDetailsIncorrect" />
            <label asp-for="AdDetailsIncorrect">The Ad Details are incorrect</label>
            </div>

            <br />
            <div class="report-reason">
            <input type="checkbox" asp-for="PerksListedIncorrect" />
            <label asp-for="PerksListedIncorrect">The Perks that are listed are incorrect</label>
            </div>

            <br />

            <div class="report-reason">
            <input type="checkbox" asp-for="SalaryIncorrect" />
            <label asp-for="SalaryIncorrect">Salary details are missing or incorrect</label>
            </div>

            <br />

            <div class="report-reason">
            <input type="checkbox" asp-for="IllegalExpectations" />
            <label asp-for="IllegalExpectations">This listing sugggest illegal expectations</label>
            </div>


            <br />
            <textarea type="text" placeholder="Comments" id="report-comments" asp-for="Comments"></textarea>
            <br />
            <br />
            <br />
            <input type="hidden" asp-for="JobInfoID" value="@Model.JobInfoID" />
            <input type="hidden" asp-for="EmployeeID" value="@Model.EmployeeID" />
            <input type="hidden" asp-for="ReportedJobDetailID" value="@Model.ReportedJobDetailID" />
            <button type="submit">Submit</button>
        </form>

    </div>
</body>
</html>