@{
    ViewData["Title"] = "Ratings";
}

@model RatingViewModel

@Html.Hidden("BusinessID")
@Html.Hidden("RatingID")
@Html.Hidden("EmployeeExperienceID")
@Html.Hidden("IsDisplayed")

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="text-center">
        <h1 class="display-4">Ratings</h1>

        <form asp-controller="Rating" asp-action="SubmitRating" method="post">
            <h3>Leave a rating for @Model.Company</h3>

            <label class="form-label" for="Overall Rating">Overall Rating 1-10</label>
            <input type="number" min="1" max="10" placeholder="OverallRating" asp-for="OverallRating" />
            <br />




            <label class="form-label" for="SalaryRating">Salary Rating 1-10</label>
            <input type="number" min="1" max="10" placeholder="Salary Rating" asp-for="SalaryRating" />
            <br />

            <label class="form-label" for="Management Rating">Management Rating 1-10</label>
            <input type="number" min="1" max="10" placeholder="Management Rating" asp-for="ManagementRating" />
            <br />

            <label class="form-label" for="FairnessRating">Fairness Rating 1-10</label>
            <input type="number" min="1" max="10" placeholder="Fairness Rating" asp-for="FairnessRating" />
            <br />

            <label class="form-label" for="ClienteleRating">Clientele Rating 1-10</label>
            <input type="number" min="1" max="10" placeholder="Clientele Rating" asp-for="ClienteleRating" />
            <br />


            <label class="form-label" for="Comments">Comments</label>
            <textarea id="rating-comments" type="text" placeholder="Comments" asp-for="Comments"><</textarea>
            <br />

            <div class="form-check">
                <input type="checkbox" asp-for="UnpaidTrialShift" />
                <label asp-for="UnpaidTrialShift">I was asked to work an unpaid trial shift</label>
            </div>
            <br />
            <div class="form-check">
                <input type="checkbox" asp-for="WouldWorkAgain" />
                <label a sp-for="WouldWorkAgain">I would work here again</label>
            </div>
            <br />

            <input DefaultValue=@Model.BusinessID asp-for="BusinessID" hidden="hidden" />
            <button class="form-btn btn btn-secondary" type="submit">Submit</button>
        </form>

    </div>
</body>
</html>