@{
    ViewData["Title"] = "My Experience";
}

@model List<EmployeeExperience>

@Html.Hidden("EmployeeExperienceID")
@Html.Hidden("EmployeeID")
@Html.Hidden("IsVerified")

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="text-center">
        <h1 class="display-4">My Work History</h1>

        @foreach (var experience in Model)
        {
            <div class="emp-experience">
                <h3>@experience.JobTitle</h3>
                <br />
                @experience.Company

                <br />
                @experience.Details



                @if (experience.EndDate == DateTime.MinValue)
                {
                    <div class="emp-time">
                        @experience.StartDate.ToShortDateString() - Present
                    </div>
                }
                else
                {
                    <div class="emp-time">
                        @experience.StartDate.ToShortDateString() - @experience.EndDate.ToShortDateString()
                    </div>
                }



                <div class="location">

                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    @experience.City, @experience.County
                </div>

                <div id="is-displayed-on-profile">
                    @if (@experience.DisplayOnProfile == true)
                    {
                        <div><i class="fa fa-eye" aria-hidden="true"></i>This job is visible on my profile</div>

                    }
                    else
                    {
                        <div><i class="fa fa-eye-slash" aria-hidden="true"></i>This job is hidden from my profile</div>

                    }
                </div>

                <div id="emp-experience-button-group">
                    <div class="emp-exp-btn btn btn-secondary btn-left" onclick="">
                        Edit this Job
                    </div>

                    <div class="emp-exp-btn btn btn-secondary btn-right" onclick="">
                    @*<div class="emp-exp-btn btn btn-secondary btn-right" onclick="location.href= '@Url.Action("New", "Rating", new { busID=experience.BusinessID })'">*@
                        Rate this Job
                    </div>
                </div>
            </div>
        }


        @*        <table>
        <tr>
        <th>
        Job Title
        </th>
        <th>
        Position Type
        </th>
        <th>
        Start Date
        </th>
        <th>
        End Date
        </th>
        <th>
        Company
        </th>
        <th>
        City
        </th>
        <th>
        County
        </th>
        <th>
        Is Displayed on my Profile
        </th>

        </tr>
        @foreach (var experience in Model)
        {


        <tr>
        <td>
        @experience.JobTitle
        </td>
        <td>
        @experience.PositionType
        </td>
        <td>
        @experience.StartDate
        </td>
        <td>
        @experience.EndDate
        </td>
        <td>
        @experience.Company
        </td>
        <td>
        @experience.City
        </td>
        <td>
        @experience.County
        </td>
        <td>
        @experience.DisplayOnProfile
        </td>
        </tr>
        }

        </table>*@
    </div>
</body>
</html>