@{
    ViewData["Title"] = "My Experience";
}

@model List<EmployeeExperience>

@Html.Hidden("EmployeeExperienceID")
@Html.Hidden("EmployeeID")
@Html.Hidden("IsVerified")

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="text-center">
        <h1 class="display-4">My Work History</h1>

        @foreach (var experience in Model)
        {
            <div class="emp-experience">
                <h3>@experience.JobTitle</h3>
                <br />
                @experience.Company

                <br />
                @experience.Details



                @if (experience.EndDate == DateTime.MinValue)
                {
                    <div class="emp-time">
                        @experience.StartDate.ToShortDateString() - Present
                    </div>
                }
                else
                {
                    <div class="emp-time">
                        @experience.StartDate.ToShortDateString() - @experience.EndDate.ToShortDateString()
                    </div>
                }



                <div class="location">

                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    @experience.City, @experience.County
                </div>

                <div id="is-displayed-on-profile">
                    @if (@experience.DisplayOnProfile == true)
                    {
                        <div><i class="fa fa-eye" aria-hidden="true"></i>This job is visible on my profile</div>

                    }
                    else
                    {
                        <div><i class="fa fa-eye-slash" aria-hidden="true"></i>This job is hidden from my profile</div>

                    }
                </div>

                <div id="emp-experience-button-group">
                    <div class="emp-exp-btn btn btn-secondary btn-left" onclick="">
                        Edit this Job
                    </div>

                    <div class="emp-exp-btn btn btn-secondary btn-right" onclick="location.href= '@Url.Action("CheckIfRated", "Rating", new { busID=experience.BusinessID, empExpID=experience.EmployeeExperienceID })'">
                        Rate this Job
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>